<footer class="bg-dark">
    <div class="container py-5 text-white">
        <h2 class="text-warning my-4">Aladdin Xpress</h2>
        <div class="row">
            <div class="col-md-4">
                <h5 class="text-warning">Company</h5>
                <ul class="footer-list">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Mission</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Others</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text-warning">Company</h5>
                <ul class="footer-list">
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text-warning">Company</h5>
                <ul class="footer-list">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Mission</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <ul class="footer-social-media">
                    <li>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="footer-social-media">
                    <li>
                        <a href="#"><i class="fab fa-facebook"></i> Facebook</a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-google"></i> Google</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="footer-social-media">
                    <li>
                        <a href="#"><i class="fab fa-facebook"></i> Facebook</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <a href="#"><img [src]="appstore" alt="" class="app-icon"></a>
                <a href="#"><img [src]="playstore" alt="" class="app-icon"></a>
            </div>
        </div>
    </div>
</footer>