footer {
    .footer-list {
        list-style: none;
        padding-left: 0;
        li {
            a {
                color: #ffff;
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
    .footer-social-media{
        list-style: none;
        padding-left: 0;
        li {
            display: inline-block;
            margin: 5px;
            a {
                color: #ffff;
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
}
