<table class="custom-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Provider</th>
            <th>Aim</th>
            <th>Expriation</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>last_viewed_list</td>
            <td>Extreme Digital</td>
            <td>Utoljára megtekintett termékek listáját tárolja, hogy a látogató számára látható legyen az oldalon mit nézett meg korábban.</td>
            <td>30 nap</td>
            <td>HTTP</td>
        </tr>
        <tr>
            <td>last_viewed_list</td>
            <td>Extreme Digital</td>
            <td>Utoljára megtekintett termékek listáját tárolja, hogy a látogató számára látható legyen az oldalon mit nézett meg korábban.</td>
            <td>30 nap</td>
            <td>HTTP</td>
        </tr>
        <tr>
            <td>last_viewed_list</td>
            <td>Extreme Digital</td>
            <td>Utoljára megtekintett termékek listáját tárolja, hogy a látogató számára látható legyen az oldalon mit nézett meg korábban.</td>
            <td>30 nap</td>
            <td>HTTP</td>
        </tr>
        <tr>
            <td>last_viewed_list</td>
            <td>Extreme Digital</td>
            <td>Utoljára megtekintett termékek listáját tárolja, hogy a látogató számára látható legyen az oldalon mit nézett meg korábban.</td>
            <td>30 nap</td>
            <td>HTTP</td>
        </tr>
        <tr>
            <td>last_viewed_list</td>
            <td>Extreme Digital</td>
            <td>Utoljára megtekintett termékek listáját tárolja, hogy a látogató számára látható legyen az oldalon mit nézett meg korábban.</td>
            <td>30 nap</td>
            <td>HTTP</td>
        </tr>
        <tr>
            <td>last_viewed_list</td>
            <td>Extreme Digital</td>
            <td>Utoljára megtekintett termékek listáját tárolja, hogy a látogató számára látható legyen az oldalon mit nézett meg korábban.</td>
            <td>30 nap</td>
            <td>HTTP</td>
        </tr>
    </tbody>
</table>