.how-works{
    .circle-text{
        display: inline-block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        border-radius: 50%;
        color: #fff;
        font-weight: 600;
        background: #ffc107;
    }
}