<section class="how-works py-5 my-5">
    <div class="container">
        <h2 class="mb-5 text-center text-warning">How does Aladdin-Xpress work?</h2>
        <p class="text-center mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="m-3 border-0 text-center">
                    <p><span class="circle-text">1</span></p>
                    <img [src]="order" alt="" class="w-50">
                    <h4 class="my-2 text-warning">Place your order</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="m-3 border-0 text-center">
                    <p><span class="circle-text">2</span></p>
                    <img [src]="safely" alt="" class="w-50">
                    <h4 class="my-2 text-warning">Aladdin picks your package</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="m-3 border-0 text-center">
                    <p><span class="circle-text">3</span></p>
                    <img [src]="safely" alt="" class="w-50">
                    <h4 class="my-2 text-warning">Get it delivered</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</section>