<div class="home">
    <app-cookie></app-cookie>
    <div class="content-area">
        <div class="sidebar">
            <ul class="menu">
                <li class="menu-item active">
                    <a href="#">Neccessary (26)</a>
                    <div class="item-circle-container">
                        <i class="fas fa-circle"></i>
                    </div>
                </li>
                <li class="menu-item active">
                    <a href="#">Preferred (11)</a>
                    <div class="item-circle-container">
                        <i class="fas fa-circle"></i>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="#">Statistic (27)</a>
                    <div class="item-circle-container">
                        <i class="fas fa-circle"></i>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="#">Marketing (6)</a>
                    <div class="item-circle-container last-item">
                        <i class="fas fa-circle"></i>
                    </div>
                </li>
            </ul>
            <div class="additional-info">
                <h5><i class="fas fa-info-circle"></i>  A sütikről</h5>
                <p>A sütik olyan kis szöveges fájlok, amelyeket egy weboldal felhasználhat arra, hogy még hatékonyabbá
                    tegye a felhasználói élményt. A jogszabályok szerint a sütiket abban az esetben tárolhatjuk a Te
                    eszközödön, ha erre feltétlenül szükség van a weboldalunk működése érdekében. Minden egyéb típusú
                    süti használatához az engedélyedre van szükségünk. Jelen weboldalunk különféle sütiket használ. A
                    weboldalunkon megjelenő néhány sütit harmadik fél szolgáltatóink helyezik el.
                    A sütik kezeléséhez való hozzájárulásodat bármikor módosíthatod vagy visszavonhatod. Adatvédelmi
                    irányelvünkben mindent megtudhatsz arról, kik vagyunk, hogyan léphetsz velünk kapcsolatba és hogyan
                    dolgozzunk fel a személyes adatokat.</p>
            </div>
        </div>
        <div class="content">
            <app-table></app-table>
        </div>
    </div>
</div>