<section class="our-service my-5 py-5">
    <div class="container">
        <h2 class="mb-5 text-center text-warning">OUR SERVICE</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card border-0 shadow-sm">
                    <div class="card-body text-center">
                        <img [src]="convenience" alt="" class="w-50">
                        <h4 class="my-2 text-warning">Convenience</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 shadow-sm">
                    <div class="card-body text-center">
                        <img [src]="saveTime" alt="" class="w-50">
                        <h4 class="my-2 text-warning">Time Saving </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 shadow-sm">
                    <div class="card-body text-center">
                        <img [src]="safely" alt="" class="w-50">
                        <h4 class="my-2 text-warning">Safely</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>