<div class="cookie">
    <div class="d-flex justify-content-between">
        <h2>
            <i class="fas fa-cookie-bite"></i>
            Ez a weboldal is sütiket használ!
        </h2>
        <button class="bg-white border-none">X</button>
    </div>
    <p>
        A kényelmes böngészés érdekében sütiket használunk a tartalom és a közösségi funkciók biztosításához, a weboldal
        forgalmunk elemzéséhez és reklámozás céljából. A weboldalon megtekintheted az Adatkezelési tájékoztatónkat és a
        sütik használatának részletes leírását. A sütikkel kapcsolatos beállításaidat a későbbiekben bármikor
        módosíthatod a láblécben található <b>Süti kezelési beállítások</b> feliratra kattintva.
    </p>
    <div class="d-flex justify-content-between">
        <div class="btn-group">
            <button class="btn-light-green">Összes elfogadása</button>
            <button class="btn-dark">Összes elutasítása</button>
        </div>
        <button class="btn-light-green">Elfogadás</button>
    </div>
    <div class="instruction">
        <h2>Sütinyilatkozat</h2>
        <p>A preferenciális sütik használatával olyan információkat tudunk megjegyezni, amelyek megváltoztatják a
            weboldal bizonyos magatartását, illetve kinézetét, erre példa lehet az általad előnyben részesített nyelv
            vagy a régió, amelyben tartózkodsz.</p>
    </div>
</div>